<!DOCTYPE html>

<html lang="en">
  <head>
    <meta chartset="utf-8">
    <title>CSS Framework</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>

  <body>
    <main class="container m-auto max-width-8_lg pl-3 pr-3">
      <div class="row">
        <header class="col-12">
          <div class="text-center mt-3 h2 h1_md"><a href="index.html" class="link-no-underline text-black link-visited-black">CSS Framework</a></div>
        </header>
      </div>
      <div class="row">
        <nav class="col-12 border-top border-bottom border-color-gray-500 pt-4 pb-4">
          <ul class="list list-inside text-center display-flex_md flex-wrap justify-around">
            <div>
              <li><a href="./layout.html" class="link-no-underline">Layout</a></li>
              <li><a href="./flex.html" class="link-no-underline">Flex</a></li>
              <li><a href="./display.html" class="link-no-underline">Display</a></li>
            </div>
            <div>
              <li><a href="./typography.html" class="link-no-underline">Typography</a></li>
              <li><a href="./background.html" class="link-no-underline">Background</a></li>
              <li><a href="./borders.html" class="link-no-underline">Borders</a></li>
            </div>
            <div>
              <li><a href="./box-shadow.html" class="link-no-underline">Box Shadow</a></li>
              <li><a href="./links.html" class="link-no-underline">Links</a></li>
              <li><a href="./lists.html" class="link-no-underline">Lists</a></li>
            </div>
            <div>
              <li><a href="./sizing.html" class="link-no-underline">Sizing</a></li>
              <li><a href="./spacing.html" class="link-no-underline">Spacing</a></li>
              <li><a href="./position.html" class="link-no-underline">Position</a></li>
            </div>
            <div>
              <li><a href="./responsive_breakpoints.html" class="link-no-underline">Responsive Breakpoints</a></li>
              <li><a href="./reset.html" class="link-no-underline">Reset</a></li>
              <li><a href="./extension.html" class="link-no-underline">Extension</a></li>
            </div>
          </ul>
        </nav>
        <article class="col-12">
          {{ content }}
          <br><br><br>
        </article>
      </div>
    </main>
  </body>
</html>